<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Parking" value=""/>  <!-- 主数据库 -->
    <add key="StandbyParking" value=""/>  <!-- 备用数据库 -->
    <add key="SelectedParking" value="0"/> <!--选择登录的数据库：0代表主数据库；1代表备用数据库-->
    <add key="ParkWorkMode" value="1"/>   <!-- ParkWorkMode: 0代表离线型停车场；1代表在线型停车场 -->
    <add key="WorkStationID" value=""/>    <!--工作站-->
    <add key="SystemType" value="0"/>
    <add key="ParkFeeLedCOMPort" value="0"/>   <!--收费中心的LED串口号-->
    <add key="TicketReaderCOMPort" value="0"/> <!--收费中心的条码扫描串口号-->
    <add key="BillPrinterCOMPort" value="0"/> <!--小票打印机串口号-->   
    <add key="SnapShotSavePath" value=""/>  <!--抓拍照片保存路径-->
    <add key="Debug" value="True"/>            <!--是否处理调试状态-->
    <add key="DatabaseNeedUpgrade" value="True"/> <!--数据库是否需要升级-->
    <add key="OpenLastOpenedVideo" value="True"/> <!--实时监控：重新打开上次打开的视频-->
    <add key="Optimized" value="False"/> <!--软件是否进行优化-->
    <!--<add key ="ThirdCommunication" value="net:192.168.15.129:5501"/>--> 
    <!--<add key ="ThirdCommunication" value="com:10:57600"/>-->
    <add key ="ParkID" value ="1011"/>
    <add key="Language" value=""/><!--设置系统的语言 zh-CHS 表示中文简体  zh-CHT 表示中文繁体  en 表示英文-->
    <add key="AutoPrintSettleInfo" value="False" /><!--设置是否在操作员结算时自动打印结算单-->
    <add key="EnableTTS" value="False"/>  <!--是否启用电脑语音播报-->
    <add key="ShowAPMMonitor" value ="False"/> <!--是否在收费界面显示自助缴费机状态栏-->
    <add key="EnableOutdoorLed" value ="False"/><!--是否启用澳大户外屏-->
    <add key ="EnableZST" value ="False"/> <!--是否启用中山通-->
    <add key ="ZSTReaderIP" value =""/><!--中山通桌面读卡器IP地址-->
    <add key ="CarPlateRecognization" value="WINTONE"/>
      <!--软件方式的车牌识别厂家，VECON表示亚视，WINTONE表示清华文通，其他默认使用清华文通-->
    <add key="RememberLogID" value="True" /> <!--是否记住登录名-->
    <add key="NeedPasswordWhenExit" value="False" /> <!--是否退出需要登录密钥验证-->
    <add key="EnableWriteCard" value="False" /> <!--是否启用写卡模式-->
    <add key="PaymentPanelWidth" value="219" /> <!---->
    <add key="VideoPanelHeight" value="230" /> <!---->
    <add key="AuotAddToFirewallException" value="True" /> <!--是否自动添加系统防火墙例外-->
    <add key ="ParkingCommunicationIP" value=""/><!--停车场通讯IP，当用户没有设置，会以查找到电脑的第一个IP为通讯IP，设定时如电脑找不到该通讯IP，则不会初始化停车场通讯-->
    <add key ="AllowChangeParkWorkMode" value="False"/><!--是否允许更改系统工作模式-->
    <add key="CheckConnectionWithPing" value="True"/><!--是否使用Ping网络来测试数据库连接-->
    <add key ="ParkVacantLed" value="1"/><!--车场满位屏类型 0为中矿满位屏 1为科拓满位屏-->
    <add key ="NewCardValidCommand" value="True"/><!--网络控制板是否使用新的卡片有效命令，新命令数据包含卡片属性信息，该功能需控制器硬件支持，否则可能导致卡片出场不能抬闸-->
    <add key ="ParkingSamNO" value="1"/><!--验证CPU卡使用SAM卡所在的读卡器SAM卡座号，范围1~8-->
  </appSettings>
</configuration>
