<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Parking" value="Yv;w--w &gt;YnY&lt;;lFG-Ab]u7Mu``D~hB&amp;nR7F;_/4Z/+xGOq?e=ib(P&amp;m_6@yU$hA|GI}$H,%&lt;i^E~`PhO2|XraQk,UUb;{5OR-);Oc [L]^wCx6qpXA1fPwz I_M?)En)2#c&gt;Ag_VqL[LHfwzjFTj" />
    <add key="StaffConnect" value="R#X`JID=&gt;rp 5;lygnA0?YnMiRkVY~q^^RH3;_d)bdNpiyq6`TGb(^$f_pjTC$j&lt;E+vV?:UHtgmBIx4~rwsbD8AN0z7?)qyfy2~cM8.zs]I#wq!T G*:ur(eGH|:hs8x|jTLeSIeoU.zKHIF$|ES" />
    <add key="AutoSyncInterval" value="60" />
    <!--设置为0时表示不自动同步-->
  </appSettings>
</configuration>