<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Parking" value=""/>
    <add key="ParkWorkMode" value="1"/>
    <!-- ParkWorkMode: 0代表离线型停车场；1代表在线型停车场 -->
    <add key="WorkStationID" value=""/>
    <!--工作站-->
    <add key="SystemType" value="0"/>
    <add key="ParkFeeLedCOMPort" value="0"/>
    <!--收费中心的LED串口号-->
    <add key="TicketReaderCOMPort" value="0"/>
    <!--收费中心的条码扫描串口号-->
    <add key="BillPrinterCOMPort" value="0"/>
    <!--小票打印机串口号-->
    <add key="SnapShotSavePath" value=""/>
    <!--抓拍照片保存路径-->
    <add key="Debug" value="True"/>
    <!--是否处理调试状态-->
    <add key="DatabaseNeedUpgrade" value="True"/>
    <!--数据库是否需要升级-->
    <add key="OpenLastOpenedVideo" value="True"/>
    <!--实时监控：重新打开上次打开的视频-->
    <add key="Optimized" value="False"/>
    <!--软件是否进行优化-->
    <!--<add key ="ThirdCommunication" value="net:192.168.15.129:5501"/>-->
    <!--<add key ="ThirdCommunication" value="com:10:57600"/>-->
    <add key="ParkID"  value="1011" />
    <add key="Language" value=""/>
    <!--设置系统的语言 zh-CHS 表示中文简体  zh-CHT 表示中文繁体  en 表示英文-->
    <add key="AutoPrintSettleInfo" value="False" />
    <!--设置是否在操作员结算时自动打印结算单-->
    <add key="EnableTTS" value="False"/>
    <!--是否启用电脑语音播报-->
    <add key="ShowAPMMonitor" value="False" />
    <!--是否在收费界面显示自助缴费机状态栏-->
    <add key="EnableOutdoorLed" value="False" />
    <!--是否启用澳大户外屏-->
    <add key="EnableZST"  value="False" />
    <!--是否启用中山通-->
    <add key="ZSTReaderIP"  value="" />
    <!--中山通桌面读卡器IP地址-->
    <add key="CarPlateRecognization"  value="XinLuTong"/>
    <!--车牌识别厂家 VECON表示亚视，WINTONE表示清华文通 XinLuTong 表示信路通一体机-->
    <add key="RememberLogID" value="True" />
    <!--是否记住登录名-->
    <add key="NeedPasswordWhenExit" value="False" />
    <!--是否退出需要登录密钥验证-->
    <add key="EnableWriteCard" value="False" />
    <!--是否启用写卡模式-->
    <add key="PaymentPanelWidth" value="219" />
    <!---->
    <add key="VideoPanelHeight" value="230" />
    <!---->
    <add key="AuotAddToFirewallException" value="True" />
    <!--是否自动添加系统防火墙例外-->
    <add key="ParkingCommunicationIP"  value=""/>
    <!--停车场通讯IP，当用户没有设置，会以查找到电脑的第一个IP为通讯IP，设定时如电脑找不到该通讯IP，则不会初始化停车场通讯-->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NightParkingSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.244.155.182/webservices/nightparking.asmx"
        binding="basicHttpBinding" bindingConfiguration="NightParkingSoap"
        contract="ECardService.NightParkingSoap" name="NightParkingSoap" />
    </client>
  </system.serviceModel>
</configuration>
