<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WaitSecond" value="30"/><!--允许未响应时间（秒），超过此时间后系统将自动执行重启-->
    <add key="ProcessName" value="OpenCard"/> <!--进程名称（不必加.exe）-->
    <add key="UserAndPassword" value="admin 123"/> <!--通过命令行传的软件登录名和密码，用空格分开-->
    <add key ="AutoReboot" value ="True"/>  <!--是否定期自动重启监测软件-->
  </appSettings>
</configuration>