<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Parking" value="Y&gt;m|Y[q-Jw-q9uthi-\z)}0]=$}|R`N6rpAq)Z{]uw1tirr]i@A1i`N6u]5p]-[p2Z\0h=^R^xfph\\Eo[U^[-4.o-Spg-*9V2Tt&lt;fpho~s|H=41Jx`V]U|Je[Yz" />
    <add key="ParkWorkMode" value="1"/>
    <!-- ParkWorkMode: 0代表离线型停车场；1代表在线型停车场 -->
    <add key="WorkStationID" value=""/>
    <!--工作站-->
    <add key="SystemType" value="0"/>
    <add key="ParkFeeLedCOMPort" value="0"/>
    <!--收费中心的LED串口号-->
    <add key="TicketReaderCOMPort" value="0"/>
    <!--收费中心的条码扫描串口号-->
    <add key="BillPrinterCOMPort" value="0"/>
    <!--小票打印机串口号-->
    <add key="SnapShotSavePath" value=""/>
    <!--抓拍照片保存路径-->
    <add key="Debug" value="False"/>
    <!--是否处理调试状态-->
    <add key="DatabaseNeedUpgrade" value="True"/>
    <!--数据库是否需要升级-->
    <add key="OpenLastOpenedVideo" value="True"/>
    <!--实时监控：重新打开上次打开的视频-->
    <add key="Optimized" value="False"/>
    <!--软件是否进行优化-->
    <!--<add key ="ThirdCommunication" value="net:192.168.15.30:5501"/>-->
    <!--<add key ="ThirdCommunication" value="com:1:57600"/>-->
    <add key ="ParkID" value ="1011"/>
    <!--上面两个参数是针对交委接口的-->
  </appSettings>
</configuration>
