<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Parking" value=""/>
    <add key="ParkWorkMode" value="1"/>
    <!-- ParkWorkMode: 0代表离线型停车场；1代表在线型停车场 -->
    <add key="WorkStationID" value=""/>
    <!--工作站-->
    <add key="SystemType" value="0"/>
    <add key="ParkFeeLedCOMPort" value="0"/>
    <!--收费中心的LED串口号-->
    <add key="TicketReaderCOMPort" value="0"/>
    <!--收费中心的条码扫描串口号-->
    <add key="BillPrinterCOMPort" value="0"/>
    <!--小票打印机串口号-->
    <add key="SnapShotSavePath" value=""/>
    <!--抓拍照片保存路径-->
    <add key="Debug" value="True"/>
    <!--是否处理调试状态-->
    <add key="DatabaseNeedUpgrade" value="True"/>
    <!--数据库是否需要升级-->
    <add key="OpenLastOpenedVideo" value="True"/>
    <!--实时监控：重新打开上次打开的视频-->
    <add key="Optimized" value="True"/>
    <!--软件是否进行优化-->
    <!--<add key ="ThirdCommunication" value="net:192.168.15.129:5501"/>-->
    <!--<add key ="ThirdCommunication" value="com:10:57600"/>-->
    <add key="ParkID" value="1011"/>
    <!--设置系统的语言 zh-CHS 表示中文简体  zh-CHT 表示中文繁体  en 表示英文-->
    <add key="Language" value=""/>
    <!--设置是否在操作员结算时自动打印结算单-->
    <add key="AutoPrintSettleInfo" value="False"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
