<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Parking" value="" />
    <!-- 数据库 -->
    <add key="ParkVacantLed" value="1" />
    <!--车场满位屏类型 0为中矿满位屏 1为科拓满位屏-->
    <add key="SendInterval" value="2" />
    <!-- 发送时间间隔，单位秒 -->
    <add key="AutoStart" value="False" />
    <!-- 启动时自动更新 -->
    <add key="ParkFullLedCOMPort" value="0" />
  </appSettings>
</configuration>